<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="waGenericTransferLight.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="waGenericTransferLight.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v2.0.50727" />
    </startup>
    <userSettings>
      <waGenericTransferLight.My.MySettings>
        <setting name="Destinatarios" serializeAs="String">
          <value>emunoz@generictransfer.com, andrea.bate@girosyfinanzas.com</value>
        </setting>
        <setting name="strConexionGT" serializeAs="String">
          <value>Data Source=192.168.2.82;Initial Catalog=GTIntegration;User ID=gt;Password=gt;Integrated Security=False</value>
        </setting>
        <setting name="smtp" serializeAs="String">
          <value>192.168.2.117</value>
        </setting>
        <setting name="MailUser" serializeAs="String">
          <value>notificaciones.unoe@girosyfinanzas.com</value>
        </setting>
        <setting name="MailPwd" serializeAs="String">
          <value>Un03MaiL</value>
        </setting>
        <setting name="MailPuerto" serializeAs="String">
          <value>25</value>
        </setting>
      </waGenericTransferLight.My.MySettings>
    </userSettings>
    <applicationSettings>
      <waGenericTransferLight.My.MySettings>
        <setting name="waGenericTransferLight_wsUnoEE_WSUNOEE" serializeAs="String">
          <value>http://192.168.2.82/WSUNOEE/WSUNOEE.asmx</value>
        </setting>
        <setting name="waGenericTransferLight_wsGenerarPlano_wsGenerarPlano"
          serializeAs="String">
          <value>http://192.168.2.82/GTIntegration/ServiciosWeb/wsGenerarPlano.asmx</value>
        </setting>
      </waGenericTransferLight.My.MySettings>
    </applicationSettings>
</configuration>